.login{
    background-image: url(login-bg.jpg)
}
h2{
    margin-top: 130px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
}
.logo{
    position: absolute;
    top :0.5em;
    left:320px;
}
.lupa > a{
    color:darkblue;
    font-weight: 500;
    text-decoration: none;
}
a:hover{
    color:blue;
}

.judul{
    position: absolute;
    right: 27px;
    top: 2.2%;
    font-size: 24px;
    color: #a1a1a1;
}

.logoUnram{
   position: absolute;
   padding: 5px;
   margin: 10px;
   margin-bottom: -70px;
  height: 50px;
}

table{
    width: 100%;
}

td:nth-child(odd){
    width: 20%;
    font-weight: bold;
}

td:nth-child(even){
    width: 80%;
}

td{
    height: 3em;
}

.upload{
    margin-right: 0.5em;
}

/* .uploadb{
    margin-left: 2em;
} */