.login{
    background: url(aa.JPG)no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.kotaklogin{
    background-color: white;
    height: 65%;
    width: 23%;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -15%;
	margin-left: -10%;
    
}

.kotak{
    width: 100%;
    
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: black;
}
.logo{
    margin-top: 10%;
   align-self: center;
   margin-left: 35%;
   position: relative;
  
}
.tombol{
    background:rgb(49, 96, 226);
	border: none;
	outline: none;
	height: 40px;
	color:#fff;
	font-size: 15px;
    text-align: center;
    
}
.tombol:hover{
    cursor: pointer;
	background:blue;
	color:#000;
}
.lupa > a{
    color:darkblue;
    font-weight: 500;
    text-decoration: none;
}
a:hover{
    color:blue;
}



.judul{
    position: absolute;
    right: 27px;
    top: 2.2%;
    font-size: 24px;
    color: #a1a1a1;
}

.logoUnram{
   position: absolute;
   padding: 5px;
   margin: 10px;
   margin-bottom: -70px;
  height: 50px;
}

.tablePofile{
    width: 100%;
    background-color: white;
}

/* td:nth-child(odd){
    width: 50%;
    font-weight: bold;
   
}

td:nth-child(even){
    width: 40%;
}

td{
    height: 3em;
} */ */

.upload{
    margin-right: 0.5em;
    
}

.uploadb{
    margin-top: 2em;
}
.foto{
    height: 300px;
    border : 1px solid black;
    margin-left: 30%
}
.navMenu{
    text-decoration: none;
    color : grey;
}

.mhs{
    margin: 1em;
    color: grey;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
}
.dashTable > tr{
    width: 100%;
}

.pendaftar {
    width: 100%;
}

.diterima {
    width: 80%;
}

.sidebar{
    background: url(../Assets/aa.JPG);
}

.headtabel{
    color:"blue";
}
.formdaftar{
    background-color: white;
}

.zebra-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 3px 1px #ddd;
    overflow: hidden;
    border:10px solid #fff;
    }
    .zebra-table th,.zebra-table td{
    vertical-align: top;
    padding:10px 7px;
    text-align: left;
    margin:0;
    }
    .zebra-table tbody tr:nth-child(odd) { /* Make table like zebra */
    background:#eee;
    }/* End CSS for Zebra Table in index.html */



